<div class="starter-template">
  <h1>Bootstrap starter template</h1>
  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    {{#if message}}
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{message}}
      </div>
    {{/if}}

    <form method="POST">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" name="email">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>

  </div>

</div>